/* Global */
.main { padding-left:0; margin-bottom: 65px; }
.page-footer { position: fixed; bottom: 0; left: 0; width: 100%; padding-top: 0; padding-left: 300px; z-index: 990; }

.card-panel { display: inline-block; width: 100%; }

/* header nav */
nav .brand-logo { font-size: 1.3rem; font-weight: 300; }
.navbar-fixed {
  z-index: 999;
}

/* side nav custom */
.side-nav {

}
.side-nav.fixed {
  width: 232px;
  padding-top: 75px;
  background-color: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

.side-nav .collapsible-body, .side-nav.fixed .collapsible-body,
.side-nav li.active {
  background-color: unset;
}

/* account menu */
ul.account-menu li a.img-container{
  height: 32px;
  margin-top: 15px;
  padding: 0;
  margin-right: 15px;
}
ul.account-menu li img{
  height: inherit;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* RESPONSIVE ================================================================ */
/* mobile size */
@media (max-width: 600px) {

}

/* mobile & tablet size */
@media (max-width: 992px) {
  .main, .page-footer { padding-left: 0; margin-bottom: 0; }
  .main nav { padding-right: 0; }

  .page-footer { position: relative; }
}

/* tablet size */
@media (min-width: 601px) and (max-width: 992px) {

}
/* desktop size */
@media (min-width: 993px) {
  /* Home */
  .card.home { min-height: 260px; }
}

/* large desktop size */
@media (min-width: 1200px) {

}

/* 2k desktop size */
@media (min-width: 1400px) {
  /* Home */
  .card.home { min-height: 185px; }
}

@media (min-width: 1600px) {
  /* Home */
  .card.home { min-height: auto; }
}
