/* Global */
.main { padding-left:0; margin-bottom: 65px; }
.page-footer { position: fixed; bottom: 0; left: 0; width: 100%; padding-top: 0; padding-left: 300px; z-index: 990; }

.card-panel { display: inline-block; width: 100%; }

/* header nav */
nav .brand-logo { font-size: 1.3rem; font-weight: 300; }
nav .brand-logo img { height: 20px; margin-top: 7px; }
.navbar-fixed {
  z-index: 999;
}

nav ul li { padding: 0 5px; }
nav .select-wrapper {
  height: 42px;
  border-radius: 0px;
  margin-top: 11px;
  border: none;
  background-color: rgba(255,255,255,0.15);
  -webkit-border-radius: 0px;
}

nav .select-wrapper input.select-dropdown {
  border: none;
  margin: 0;
  padding-left: 8px;
}

nav .select-wrapper span.caret {
  color: #fff;
  right: 10px;
}


/* side nav */
.side-nav {
  animation-duration: 0.2s;
}

.side-nav.hide {
  animation-name: side_nav_hide;
}

.side-nav.active {
  animation-name: side_nav_show;
}

.side-nav li>a>i.material-icons {
  margin: 0;
}

/* side nav animation */
@keyframes side_nav_hide {
    from { transform: translateX(0); -webkit-transform: translateX(0); }
    to { transform: translateX(-100%); -webkit-transform: translateX(-100%); }
}

@keyframes side_nav_show {
    from { transform: translateX(-100%); -webkit-transform: translateX(-100%); }
    to { transform: translateX(0); -webkit-transform: translateX(0); }
}



/* side nav custom */
.side-nav {

}
.side-nav.fixed {
  width: 232px;
  padding-top: 75px;
  background-color: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

.side-nav .collapsible-body, .side-nav.fixed .collapsible-body,
.side-nav li.active {
  background-color: unset;
}

/* account menu */
nav .img-container {
  height: 32px;
  margin-top: 15px;
  padding: 0;
  margin-right: 15px;
}
nav .img-container img { height: inherit; }
ul.account-menu li img{
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* container */
.container.inner {
  margin: unset;
  margin-left: 250px;
}

/* RESPONSIVE ================================================================ */
/* mobile size */
@media (max-width: 600px) {

}

/* mobile & tablet size */
@media (max-width: 992px) {
  .main, .page-footer { padding-left: 0; margin-bottom: 0; }
  .main nav { padding-right: 0; }

  .page-footer { position: relative; }
}

/* tablet size */
@media (min-width: 601px) and (max-width: 992px) {

}
/* desktop size */
@media (min-width: 993px) {
  /* Home */
  .card.home { min-height: 260px; }
}

/* large desktop size */
@media (min-width: 1200px) {

}

/* 2k desktop size */
@media (min-width: 1400px) {
  /* Home */
  .card.home { min-height: 185px; }
}

@media (min-width: 1600px) {
  /* Home */
  .card.home { min-height: auto; }
}
