.row.head{
	margin-bottom: unset !important;
}

.container a{
	color: #000;
}

.dropdown-menu li{
	padding-top: 5px;
	padding-bottom: 5px;
}
.menu-style{
	height: 250px;
	padding-top: 30px;
 	border: 1px solid;
  vertical-align: middle;
	text-align: left;
	padding: 30px 20px 20px 20px;
	padding-bottom: 10px;
	color: #000;
	font-size: 12px;

}
.menu-number{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	/* position: absolute; */
	top: -20px;
	left: 0;
	right: 0;
	margin: auto;
	background: #E27100;
}
.menu-number-number b{
	display: block;
	color:#FFF;
	padding-top: 25%;
	text-align: center;
}

.page-container-bg-solid{
	overflow-x: hidden;
}
.menu-style .menu-icon{
	margin-bottom: 10px;
	margin-right: 5px;
	padding-top: 11px;

}
.menu-style .menu-icon{
	display: block;
	text-align: center;
	margin-bottom: 30px;

}
.menu-style h4{
	text-align: left;
	color: #000;
}
.menu-style a{
	text-decoration: none;
	color: #000;
}
.menu-style span{
	text-align: left;
	color: #000;

}
.menu-dropdown a{
	color: #000;
}
.input-group-sm	.row{
	padding: 10px;
}
.form-actions{
	/*border-bottom: 1px dashed #ADADAD;*/
	margin-top: 20px;
	padding-bottom: 45px;
	/*text-align: center;*/
}

/* filter custom */

.sync-filter {
	float: right;
	margin: 12px;
}

.add_new_inquiry a,
.form-actions a {
  color: #FFF;
  padding: 8px;
}

.add_new_inquiry {
  position: absolute;
  top: 70px;
  right: 25px;
	margin: auto;
  z-index: 9;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0288D1;
  text-align: center;
}

.add_new_inquiry a {
	padding: 17px !important;
	border-radius: 50%;
  margin: 0 !important;
  line-height: inherit !important;
  min-height: auto !important;
}

.form-actions .ajaxsubmit{
	margin-right: 11px;
}

.form-actions a{
	background: #FC9A1A;
	margin-right: 15px;
	font-size: 14px;
  line-height: 36px;
  min-height: 36px;
  padding: 0 16px;
}

.form-actions a:last-child,
.form-actions button:last-child {
    margin-right: 0;
}

.form-body{
	padding-bottom: 20px;
}
.form-control, .btn{
	border-radius: unset;
}
.form-control:focus {
    outline: unset;
    /*border-color: unset;*/
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

button.ajaxsubmit,
a.ajaxsubmit,
button.btn.green {
	/* background: #0288D1;
	color: #FFF;
	margin: 25px 11px 25px 0;
	font-size: 14px;
  line-height: 36px;
  min-height: 36px;
  padding: 0 16px;
  cursor: pointer; */
}

button.inputsubmit {
	background-color: #459B5C;
	color: #ffffff;
	margin-right: 15px;
	font-size: 14px;
  line-height: 36px;
  min-height: 36px;
  padding: 0 16px;
}

button#CancelOrder {
	background-color: #ED5E59;
}

.input-group-btn button {
	margin: 0;
	/*line-height: 32px;*/
  min-height: 34px;
}

.input-group-sm{
	padding-right: 15px;
	padding-left: 15px;

}
.icon-arrow-up{
	font-size: 35px;
  position: absolute;
  right: 30px;
  bottom: 10px;
}
.alert{
	border-radius: unset;
}
.jumbotron{
	 background: url(/assets/images/jumbotron.jpeg) no-repeat;
	 margin-bottom: 50px;
	 border-radius: unset !important;
	 height: 320px;
	 color: #FFF;
	 text-shadow: 2px 1px #7C7C7C;
	 background-size: cover;
}
.control-label{
	margin-top: 15px !important;
	margin-bottom: 10px !important;
}
.dropdown-menu li{
	position: relative;
}
.dropdown-submenu.open .dropdown-menu{
	display: block;
	top: 0;
	left: 100%;
}

.dropdown-submenu a { position: relative; }
.dropdown-submenu a .caret {
	position: absolute;
	right: 10px;
	top: 13px;
	z-index: 2;
}

.alert{
	    word-wrap: break-word !important;
}
.page-wrapper-bottom{
	bottom: 0;
}
.page-footer{ padding: 0; }
.page-footer .footer-copyright{ padding: 0 25px; }
.page-footer .container div{
	display: inline-block;
}
kbd{
	display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    padding: unset;
}
.shortcut_key > kbd:nth-child(1) {
    background-color: #E52A25;
}
.shortcut_key > kbd:nth-child(3) {
    background-color: #E5C900;
}
.shortcut_key > kbd:nth-child(5) {
    background-color: #049A5C;
}

legend, .caption {
	padding-bottom:  25px;
}

.caption {
	padding-top: 15px;
}

.inquiry-filter {
	/* display: none; */
	/* width: 100%;
  border: 1px solid #CCC;
	margin: 0;
	margin-bottom: 40px; */
}

.tab-content .inquiry-filter {
	display: block;
}

#filterToggle {
	background-color: #f35429;
	color: #FFF;
}

.wizard-steps {
	width: 100%;
  border: 1px solid #CCC;
	margin: 0;
	margin-bottom: 40px;
}

.wizard-steps div {
	/*width: 100%;*/
	margin-bottom: 5px;
}

/*
[level=level_1].row {
	width: 50%;
	margin: auto;
	margin-bottom: 25px;
}

[level=level_1].row div {
	width: 100%;
	margin: 0;
	margin-bottom: 5px;
}*/

textarea.form-control {
	height: 200px;
}


/**/
button.table_actions.editbutton[title='Edit'] {
	/* background-color: #0288D1;
	color: #FFF; */
}

button.table_actions.editbutton[title='Delete'] {
	/* background-color: #FC9A1A;
	color: #FFF; */
}

table tr td button.btn,
table tr td button.button,
table tr td a.button,
table tr td a.btn,
button.table_actions.editbutton {
	display: inline-block;
	margin: 0;
	line-height: 34px;
	height: 34px;
  padding: 0;
  width: 36px;
  border-radius: 50%;
	border: none;
	/*background-color: #fff;*/
	text-align: center;
	cursor: pointer;
}

table tr td .bootstrap-select button {
	border: 1px solid #c2cad8;
	border-radius: 0;
	padding-left: 15px;
}

table tr td a.button i,
table tr td a.btn i,
table tr td a.button li {
	line-height: 34px;
}

table tr td button.btn-success,
table tr td a.btn-success,
table tr td button.button {
	background-color: #459B5C;
	color: #ffffff;
}

table tr td button.btn-info,
table tr td button.editbutton,
table tr td button.btn-warning,
table tr td a.btn-warning,
table tr td a.button {
	background-color: #FC9A1A;
	color: #ffffff;
}

table tr td a.button i.text-info {
	color: #111;
}

table tr td button.btn-success:hover,
table tr td button.button:hover,
table tr td button.btn-info:hover,
table tr td a.button:hover,
table tr td a.button:hover i {
	color: #111;
}

#controls { display: inline-block; }

#gl_items_table table tr td { text-align: center; }
#gl_items_table table.tablestyle tr th:last-child, table.tablestyle tr td:last-child {
	padding-left: 0 !important;
}

/* custom table */
/* .dataTables_wrapper, .mb-3, div.table-responsive div > table, #_transactions_span, .table-box { border: 1px solid #CCC; padding: 0; margin-bottom: 15px; }
.table-box { width: 100%; overflow-x: auto; }
div.table-responsive div > table { border: 1px solid #CCC !important; }
.dataTables_wrapper .table-responsive + span { display: block; text-align: center; padding: 0 0 25px 0; width: 100%; } */

.table > thead > tr > th {
	/* border: none; */
	/* border-bottom: 1px solid #e0e0e0; */
	/* height: 60px; */
	/* vertical-align: top; */
  /* background-color: #fafafa; */
}

/* .table > thead > tr > th:first-child { border-left: none; }
.table > thead > tr > th:last-child { border-right: none; } */

.fixed-table-pagination { padding: 0 15px; }

/* diff form */
/* .portlet {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 30px;
} */

.portlet .portlet-title {
	font-size: 18px;
	text-align: left;
	font-weight: bold;
}

.portlet .form-actions { text-align: left; }

/**/
#_mobile_upload_span {

}

#_mobile_upload_span button[id*="ViewFile"],
#_mobile_upload_span button[id*="Posting"] {
    border-radius: 0;
		width: 100%;
}

#_mobile_upload_span button[id*="SelectDelete"] {
	background-color: #ed6b75;
}

/*#_mobile_upload_span button[id*="ViewFile"]:hover,
#_mobile_upload_span button[id*="Posting"]:hover {
    background-color: inherit;
}*/

#_mobile_upload_span button[id*="SelectDelete"]:hover {
	color: #111;
}

/* multi checkbox */
.form-control.multicheckbox {
    height: 250px !important;
    overflow-y: scroll;
		margin-bottom: 25px;
}

.md-checkbox, .md-checkbox-list { float: left; }

/* RESPONSIVE ================================================================ */
/* extra small */
@media (max-width: 767px) {

}

/* extra small to small */
@media (max-width: 991px) {

}

/* small */
@media (min-width: 768px) and (max-width: 991px) {

}
/* medium */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* large */
@media (min-width: 1200px) {

}
