<!-- <div class="page-head white z-depth-1 hide-on-med-and-down"> -->
<div class="page-head blue darken-4 white-text z-depth-1 hide-on-med-and-down">
	<h3><span synlang="syncard-language"><span class="badge"><a href="#!" class="white-text dropdown-button" data-activates="account-options"><i class="material-icons">settings</i></a></span>&nbsp;</span></h3>
	<h4><span synlang="syncard-language">{$title}</span></h4>
	<h5><span synlang="syncard-language">&nbsp;</span></h5>
	{if $page_description}<p>{$page_description}</p>{/if}
	{if isset($button_add_new)}
		<!-- <div class="fixed-action-btn"> -->
			{inquiry_addnew_button}
		<!-- </div> -->
	{/if}
</div>
