<style>
.carousel .carousel-item{
  width:100%;
}
#setup-wizard{
  top: 1%;
  bottom: 10%;
  max-height: 100%;
}
</style>


<div id="setup-wizard"  class="modal" tabindex="1" role="" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-content">
    <!-- content baru start -->
    <ul id="tabs-swipe-demo" class="tabs">
      <li class="tab col s3"><a class="black-text" href="#swipe-1">Welcome</a></li>
      <li class="tab col s3"><a class="black-text" href="#swipe-2">Fiscal Years</a></li>
      <li class="tab col s3"><a class="black-text" href="#swipe-3">COA</a></li>
    </ul>
  </br>
    <div id="swipe-1" class="col s12">
      <center>
        <div style="col s12">
          <h4><b>Welcome</b></h4>
          <i class="material-icons large grey-text">near_me</i>
          <p>Before starting with the system, you need to complete the neccessary setting</p>
        </div>
      </center>
    </div>
    <div id="swipe-2" class="col s12">
      <center>
        <div style="col s12">
          <h4><b>Fiscal Years</b></h4>
        </div>
      </center>
      <div class="input-field col s6">
        <label for="#date-from">Date From</label>
        <input type="text" class="date-picker" id="date-from" name="date-from">
      </div>
      <div class="input-field col s6">
        <label for="#date-end">Date End</label>
        <input type="text" class="date-picker" id="date-end" name="date-end">
      </div>
      <div class="col m12 l12 s12">
        <p name="msg-alert"></p>
      </div>
      <center>
        <button class="btn waves-effect waves-light" type="submit" name="ok_fiscal_years">OK
          <i class="material-icons right"></i>
        </button>
      </center>
    </div>
    <div id="swipe-3" class="col s12">
      <center>
        <div style="col s12">
          <h4><b>COA</b></h4>
        </div>
      </center>
      <p>Do you want to use default COA</p>
      <p>
        <input name="group1" type="radio" id="iya" />
        <label for="iya">YES</label>
        <input name="group1" type="radio" id="tidak" />
        <label for="tidak">NO</label>
      </p>
      <div class="col l12 m12 s12">
        <center>
          <button class="btn waves-effect waves-light" type="submit" name="action">Finish
            <i class="material-icons right">send</i>
          </button>
        </center>
      </div>
    </div>

    <!-- content baru end -->
  </div>

  <div class="modal-footer" style="text-align: left">
  	  <!-- <center><button type="submit" class="btn btn-success" name="start" value="1" >Next &nbsp;<span class="fa fa-arrow-right"></span></button></center> -->
  </div>
</div>

<script>

</script>
