	<!-- <div class="setupwizard card-panel">
		<div class="rowline">
			<div class="events-wrapper">
				<div class="events wizard-steps">
					<div class="col-md-12">
					<h4>Wizard Steps.</h4>
					<p>1. Company Setting</p>
					<p>2. Bank Accounts</p>
				</div>
				<div class="col-md-12">
					<hr/>
					<button class="btn waves-effect waves-light" id="nextWizard">Next</button>
					&nbsp; | &nbsp; Note : Click "Next" to continue, You can not continue if the steps are not met.
				</div>
				<div class="clearfix"></div>
			</div>

		</div>
	</div>
</div> -->

<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Wizard Steps</span>
					<p>1. Company Setting</p>
					<p>2. Bank Accounts</p>
					<p>&nbsp;</p>
					<p class="red-text">Note : Click "Next" to continue, You can not continue if the steps are not met.</p>
        </div>
        <div class="card-action">
          <a href="#" id="nextWizard">Next</a>
        </div>
      </div>
    </div>
  </div>

<script>
	$(function(){
		$("#nextWizard").on("click", function(){
			location.reload();
		});
	});
</script>
